In [1]:
print("Tuples are very similar to lists. However, they have one key difference - immutability. Once an element is inside a tuple, it can not be reassigned. Tuples use parenthesis: (1,2,3)")

Tuples are very similar to lists. However, they have one key difference - immutability. Once an element is inside a tuple, it can not be reassigned. Tuples use parenthesis: (1,2,3)

In [2]:
t = (1,2,3)

In [3]:
mylist = [1,2,3]

In [4]:
type(mylist)

list

In [5]:
type(t)

tuple

In [6]:
t = ("One", 2)

In [7]:
t

('One', 2)

In [8]:
t[0]

'One'

In [9]:
t[-1]

2

In [10]:
t = ("a", "a", "b")

In [11]:
t.count("a")

2

In [12]:
t.index("a")

0

In [13]:
print("The index will return the first time it appears in the tuple")

The index will return the first time it appears in the tuple

In [14]:
t

('a', 'a', 'b')

In [15]:
mylist

[1, 2, 3]

In [16]:
mylist[0] = "NEW"

In [17]:
mylist

['NEW', 2, 3]

In [18]:
t[0] = "Happy"

TypeError: 'tuple' object does not support item assignment