In [1]:
print("Lists are ordered sequences that can hold a variety of object types.")

Lists are ordered sequences that can hold a variety of object types.

In [2]:
print("They use [] and commas to separate objects in the list")

They use [] and commas to separate objects in the list

In [3]:
print("Lists support indexing and slicing. Lists can be nested and also have a variety of methods that can be called off of them.")

Lists support indexing and slicing. Lists can be nested and also have a variety of methods that can be called off of them.

In [4]:
my_list = [1,2,3]

In [6]:
my_list = ["string", 100, 1.23]

In [7]:
len(my_list)

3

In [8]:
mylist = ["one", "two", "three"]

In [9]:
mylist[0]

'one'

In [10]:
mylist[1:]

['two', 'three']

In [11]:
mylist

['one', 'two', 'three']

In [12]:
another_list = ["four", "five"]

In [13]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [14]:
new_list = mylist + another_list

In [15]:
new_list

['one', 'two', 'three', 'four', 'five']

In [16]:
print("We can edit a list, but not a string")

We can edit a list, but not a string

In [17]:
new_list[0] = "ONE All CAPS"

In [18]:
new_list

['ONE All CAPS', 'two', 'three', 'four', 'five']

In [19]:
new_list.append("Six")

In [20]:
new_list

['ONE All CAPS', 'two', 'three', 'four', 'five', 'Six']

In [21]:
new_list.append("seven")

In [22]:
new_list

['ONE All CAPS', 'two', 'three', 'four', 'five', 'Six', 'seven']

In [23]:
new_list.pop()

'seven'

In [24]:
new_list

['ONE All CAPS', 'two', 'three', 'four', 'five', 'Six']

In [26]:
new_list.pop()

'Six'

In [27]:
new_list.pop(0)

'ONE All CAPS'

In [28]:
new_list

['two', 'three', 'four', 'five']

In [29]:
new_list = ["a", "b", "x", "d"]

In [30]:
num_list = [1,4, 100, 30, 7]

In [31]:
new_list.sort()

In [32]:
new_list

['a', 'b', 'd', 'x']

In [33]:
print("The sort method doesn't return anything, so it can't be assigned.")

The sort method doesn't return anything, so it can't be assigned.

In [34]:
new_list.sort()
my_sorted_list = new_list

In [35]:
my_sorted_list

['a', 'b', 'd', 'x']

In [36]:
num.list.sort()

NameError: name 'num' is not defined

In [37]:
num_list.sort()

In [38]:
num_list

[1, 4, 7, 30, 100]

In [39]:
num_list.reverse()

In [40]:
num_list

[100, 30, 7, 4, 1]